/* BASIC CSS RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

menu,
ul {
    list-style-type: none;
}

/* CLASS SELECTORS */
.App__header {
    background-color: blue;
    display: grid;
    place-content: center;
    padding: 1rem;
}

.App__logo {
    width: 7rem;
}
