:root {
    --primary-color: #6f2cf4;
    --component-color: #edeeff;
    --round: 3px;
    --red: #f42c2c;
    --yellow: #f4b02c;
    --green: #4d8f0a;
    --line-color: #d6d6d6;
}

/* BASIC CSS RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Courier New', Courier, monospace;
}

img {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

menu,
ul {
    list-style-type: none;
}

h2 {
    text-transform: capitalize;
}

/* CLASS SELECTORS */
.App {
    height: 100vh;
    display: grid;
    grid-template-areas:
        'header header'
        'sidebar main';
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

.App__header {
    background-color: var(--primary-color);
    display: grid;
    place-content: center;
    padding: 1rem;
    grid-area: header;
}

.App__logo {
    width: 7rem;
}

.App__sidebar {
    width: 19rem;
    background-color: var(--component-color);
    border-right: 1px solid var(--line-color);
    padding: 2rem;
    & > * + * {
        margin-top: 2rem;
    }
}

.App__main {
    padding: 2rem;
}

.tab-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

.tab {
    background-color: white;
    border-radius: 3px;
    border: none;
    border-bottom: 1px solid var(--line-color);
    width: 100%;
    text-align: start;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.1s ease-out;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
        background-color: rgb(255, 179, 205);
        color: white;
    }

    &.active {
        background-color: var(--primary-color);
        color: white;
    }
    & .tab__label {
        text-transform: capitalize;
    }
}

.todo-list {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 1rem;
}

.todo-item {
    background-color: var(--component-color);
    padding: 0.5rem 1rem;
    border-bottom: 2px solid pink;
    border-radius: var(--round);
}

.todo__left-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.project-creating-input {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.delete-project-button {
    border: none;
    width: 1.2rem;
    height: 1.2rem;
    display: grid;
    place-content: center;
    border-radius: 50%;
    color: white;
    background-color: rgb(255, 67, 67);
    cursor: pointer;
}
